# ---------------------------------
# add values and remove .example
# ---------------------------------

PORT=
#MONGO_URI = "mongodb://0.0.0.0:27017"
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=

#smtp mail or clodinary ke dono yha add krne hai
#clodinary wale kam nhi kar rhe yha

#smtp variables
SMTP_PORT=
SMTP_HOST=
SMTP_MAIL=
SMTP_PASS=

#cloudinary variables
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_API_KEY=
RAZORPAY_KEY_SECRET=
